:root {
  --clr_title: #4f4f4f;
  --clr_text: #000000;
  --clr_gray_1: #333333;
  --clr_bg_btn: #f2994a;
  --clr_gray: #bdbdbd;
}
/* 
Specify Families Google Font 
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 1em;
}
h1 {
  font-size: calc(1.5rem + 1vw);
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  line-height: 2rem;
}
h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: calc(1.125rem + 1vw);
  line-height: 23.99px;
}
h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: calc(1rem + 1vw);
  color: var(--clr_gray_1);
}
img {
  width: 100%;
  height: auto;
  border-radius: 0.8em;
}
/* Header Section */
header {
  margin-top: 2em;
}
.text_header {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1em;
  margin-bottom: 1em;
}
.text_content {
  font-size: 0.75rem;
  font-weight: 500;
  /* font-style: italic; */
  letter-spacing: 0.8px;
  margin: 0;
  padding: 0;
  line-height: 0.938rem;
  color: var(--clr_title);
}
.dots {
  display: flex;
  flex-direction: column;
  gap: 0.15em;
  margin-top: 0.3em;
}
.group_dot {
  display: flex;
  gap: 0.15em;
}
.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c4c4c4;
}
/* Resumen Recipe Instructions Section  */

.resume_recipe {
  display: flex;
  flex-direction: column;
}
.info_recipe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
}
.wrap {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 1em;
}
.wrap_content p {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-family: 'Montserrat';
  font-weight: 700;
}
.wrap_content p span {
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 0.75rem;
  text-transform: lowercase;
}
.clr_gray {
  color: var(--clr_gray);
}
.clr_bg_btn {
  color: var(--clr_bg_btn);
}
.clr_gray_1 {
  color: var(--clr_gray_1);
}

/* Ingredients Recipe Section  */
.label {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(0.6rem + 1vw);
  font-weight: 400;
  line-height: 1.563rem;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  color: #333;
}
input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid #828282;
  border-radius: 4px;
}
.ingredients_recipe_checkbox {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
