:root {
  --clr_title: #4f4f4f;
  --clr_text: #000000;
  --clr_gray_1: #333333;
  --clr_bg_btn: #f2994a;
  --clr_gray: #bdbdbd;
}
/* 
Specify Families Google Font 
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 1em;
}
h1 {
  font-size: calc(1.12rem + 2vw);
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  line-height: 2rem;
}
h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: calc(1.125rem + 1vw);
  line-height: 23.99px;
}
h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: calc(1rem + 1vw);
  color: var(--clr_gray_1);
}
img {
  width: 100%;
  height: auto;
  border-radius: 0.8em;
}
/* Header Section */
header {
  margin-top: 2em;
}
.text_header {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1em;
  margin-bottom: calc(2em + 1vw);
}
.text_content {
  font-size: 0.75rem;
  font-weight: 500;
  /* font-style: italic; */
  letter-spacing: 0.8px;
  margin: 0;
  padding: 0;
  line-height: 0.938rem;
  color: var(--clr_title);
}
.dots {
  display: flex;
  flex-direction: column;
  gap: 0.15em;
  margin-top: 0.3em;
}
.group_dot {
  display: flex;
  gap: 0.15em;
}
.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c4c4c4;
}
/* Resumen Recipe Instructions Section  */
.resume_recipe_instructions {
  margin: 3em 0;
}
.resume_recipe {
  display: flex;
  flex-direction: column;
}
.info_recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 1em;
}
.wrap .fa-utensils {
  color: var(--clr_bg_btn);
}
.wrap_content p {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: calc(0.2rem + 1vw);
  font-family: 'Montserrat';
  font-weight: 700;
}
.wrap_content p span {
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 0.75rem;
  text-transform: lowercase;
}
.clr_gray {
  color: var(--clr_gray);
}
.clr_bg_btn {
  color: var(--clr_bg_btn);
}
.clr_gray_1 {
  color: var(--clr_gray_1);
}

/* Ingredients Recipe Section  */
.label {
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
  font-size: calc(0.736rem + 1vw);
  font-weight: 400;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  color: #333;
}
input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid #828282;
  border-radius: 4px;
}
.ingredients_recipe_checkbox {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Instructions Step by Step Recipe Section  */
.instructions_recipe {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.intructions_group {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}
.rect,
.text_intructions {
  padding-top: 1em;
}
.rect p {
  background-color: var(--clr_bg_btn);
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  margin: 0;
  display: flex;
  justify-content: center;
}
.text_instructions {
  text-align: justify;
  width: 90%;
}
.text_instructions p {
  line-height: calc(0.735rem + 1vw);
  font-size: calc(0.736rem + 1vw);
  font-weight: 400;
}
.text_bold {
  font-weight: bold;
}
.source {
  margin-top: 2em;
  font-weight: 400;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: var(--clr_gray);
  font-size: 0.75rem;
}
/* FOOTER SECTION */
footer p {
  margin-top: 4em;
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: #828282;
}
footer p a {
  text-decoration: 0;
  color: #828282;
  font-weight: bold;
}
footer p a:hover {
  color: var(--clr_bg_btn);
}

/* Desktop Version */
@media (min-width: 850px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    max-width: 970px;
  }
  .text_content {
    font-size: 0.875;
    width: 60%;
  }

  /* Resumen Recipe Instructions Section  */
  .resume_recipe_instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 216px;
    padding: 2em 0;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  .wrap i {
    font-size: 1.4rem;
  }
  .wrap_content p {
    font-size: 0.625rem;
  }
  .info_recipe {
    flex-direction: column;
    align-items: flex-start;
  }
}
